.refresh-container
  position: absolute
  top: 15px
  left: 0
  text-align: center
  z-index: 800
  .refresh-icon
    overflow: hidden;
    background-color: #fafafa
    -webkit-box-shadow: 0 4px 10px #bbb
    box-shadow: 0 4px 10px #bbb
    border-radius: 30px
    margin: 0 auto
    height: 60px
    width: 60px
    #canvas
      &.rotate
        animation: rotate 1s linear infinite
